{{define "css"}} 
    <link href="/static/plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/plugin/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/styles.css" rel="stylesheet" />
{{end}}
{{define "body"}}
    <div class="container">
        <section class="qr-experied">
            <img src="/static/img/img_qr_remove.jpg" class="responsive-image"/>
            <p>Mã QR Code này đã hết hạn sử dụng<br /> Hãy liên hệ Mirascan để được hỗ trợ</p>
            <ul class="contact">
                <li><i class="fa fa-phone" aria-hidden="true"></i>0969059786</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>qrcode@miraway.vn</li>
            </ul>
        </section>
    </div>
{{end}}